@import url('https://fonts.googleapis.com/css?family=Raleway:200,500,800|Scope+One');

/*NAVIGATION */
/* rollover style colour 929292 */
#menu {
	display:none;
}


nav {
	width:60%;
	margin:0 auto;
	text-align:center;
	border-style:solid;
	border-width: 1px 0px 1px 0px;
	border-left:0;
	border-right:0;
	border-color:#313131;
	padding-top:10px;
	padding-bottom:10px;
	display:block;
	
}

nav a {
	font-size:1.2em;
	font-weight:500;
	text-decoration:none;
	padding-top:30px;
	padding: 20px;
	text-transform:uppercase;
	color:black;
}

nav a:hover {
	font-weight:200;
}

/*END OF NAVIGATION */

/*HEADER */
header img {
	display:block;
	margin:0 auto;
	width:125px;
	padding-top:30px;
	padding-bottom:20px;
	
}

.banner {
	width:250px;
	padding:0;
}

header h1{
	font-size:1.9em;
	font-weight:800;
	padding:0;
	margin:0;
}


/*END OF HEADER */

/*FOOTER */

footer{
	width:100%;
	bottom:0;
	padding-top:30px;
	padding-bottom:30px;
	color:#f0f0f0;
	background-color:#313131;
}

footer img {
	width:30px;
}

footer ul {
	padding-left:0;
	list-style:none;
}

ul.icon li{
	display:inline;
	width:10%;
}

.footerlinks {
	text-decoration:none;
	color:#f0f0f0;
}

.footerlinks:hover {
	color:#929292;
}


/*END OF FOOTER */

/* TABLET SIZE SCREEN */
@media screen and (max-width: 1100px) {
   
	
	/*header*/
	
	header h1 {
	font-size:2.5em;
}
	.banner {
	width:30%;
}
	
	/*nav */
	
	nav {
	width:90%;
}
	
	/*footer no changes*/
	
}




/* MOBILE SIZE SCREEN */
@media screen and (max-width: 700px) {
	body{
		font-size:18px;
	}
	
	/*header*/
	header p {
		display:none;
	}
	
	header h1 {
		display: none;
	}
	
	.banner {
		display:none;
	}
	
	/*nav */
	
	nav {
		display:none;
	}
	
	#menu {
		color:#313131;
		display: block;
		text-decoration:none;
		font-size:1.5em;
	}
	
	#menu:hover {
		color:#313131;
		font-weight:500;
	}
	
	#nav-menu a{
		display:block;
	}
	
	.show-menu{
		margin-top:30px;
		display: block;
	}
	
	
	/*footer*/
	footer img {
		width:50px;
		padding-left:10px;
		padding-right:10px;
	}
	
	.footerlinks {
		display:block;
		padding-top:10px;
	}
  
}


